body{
font-family:avenir;
color:#131314;
background:#253439;
}
.content-container{
width:700px;
margin:5% auto;
}
*{
margin:0px;
padding:0px;
}
.section2-buttons:hover{
background:#e0e0e0;
}
h1,h2,h3,h4{
font-family: 'Montserrat', sans-serif;}
h1{
font-size:3em;
}
.active-button{
background:#e0e0e0 !important;
}
p{
font-family: 'Montserrat', sans-serif;
line-height:2em;
}
.center-text{
text-align:center;
}
tspan{
font-family: 'Montserrat', sans-serif;


}
#section-background{
width:1200px;
height:581px;
background:url(../img/sticker.png) center no-repeat;
margin:0 auto;
}

.sticker-buttons{
width:350px;
height:350px;
float:left;
position:relative;
top: 171px;
margin-left: 50px;
cursor:pointer;
}
#tooltip1 p {
width:180px;
margin:0 auto;
}
#tooltip1 p span{
margin:32px;
}

.legend{
font-size: 0.8em;
width: 613px;
margin: 0 auto;
line-height: 2em;
font-family: 'Montserrat';
margin-top: 45px;
}

.section2-buttons{
width: 229px;
height: 50px;
float: left;
background: #eff1f2;
cursor: pointer !important;
margin: 0 2px;
line-height: 50px;
text-align: Center;
font-size: 1em;
font-family: 'Montserrat';

}
.section2-buttons: hover{
background:# !important;
}
#container-buttons{
width:700px;
height:20px;
margin:0 auto;
clear:both;
}
.section3-buttons{
width: 83px;
height: 30px;
float: left;
background: #eff1f2;
cursor: pointer !important;
margin: 0 2px;
line-height: 50px;
text-align: Center;
font-size: 0.8em;
line-height: 30px;
font-family: 'Montserrat', sans-serif;
}

  #container3 {
			min-width: 300px;
			max-width: 800px;
			height: 640px;
			margin: 1em auto;
		}
		 .example-container {
                margin: 0 auto;
				display:block;
			}
            

            
            .example + .example {
                margin-left: 60px;
            }
			#slider-range-max{
			width:30%;
			}
			.ui-slider .ui-slider-handle {
			width: 0.5em !important;
			
			}
			.ui-slider-horizontal .ui-slider-handle {
			margin-left: 0em !important;
			}
			.ruler{
			width:30%;
			height:1px;
			background:#000000;
			margin-left:0;
			}
			.rulerlinemiddle{
			height:10px;
			width:1px;
			background:#000000;
			float:left;
			margin-left:14.29%;
			font-size:0.5em;
			}
			.rulerlinefinal{
			height:10px;
			width:1px;
			background:#000000;
			float:left;
			margin-left:12.2%;	
			font-size:0.5em;
			
			}
			.rulerline{
			height:10px;
			width:1px;
			background:#000000;
			float:left;
			margin-left:0%;
			font-size:0.5em;

			}
			.number{
			width:30%;
			background:#000000;
			margin-left:0;
			}
			.rulerlinemiddlenumber{
			height:10px;
			width:1px;
			float:left;
			margin-left:14.29%;
			font-size:0.5em;
			}
			.rulerlinefinalnumber{
			height:10px;
			width:1px;
			float:left;
			margin-left:12.2%;	
			font-size:0.5em;
			
			}
			.rulerlinenumber{
			height:10px;
			width:1px;
			float:left;
			margin-left:0%;
			font-size:0.2em;

			}	
			.filter{
			cursor:pointer;
			}
			#passage{
			width: 200px;
			height: 200px;
			float: left;
			}
			
			#section3{
			width:1000px;
			margin:0 auto;
			}
			
